body {
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.calculadora {
    background-color: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
}

/* Alinhamento da linha superior */
.menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.menu input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.quadrado-central {
    min-height: 150px;
    width: 95%;
    background-color: white;
    border: 2px solid #333;
    margin: 20px 0;
    padding: 10px;
    color: black;
    white-space: pre-wrap;
    overflow-y: auto;
}
button {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid #999;
    background-color: #efefef;
    border-radius: 3px;
}

button:hover {
    background-color: #e0e0e0;
}

.btn-acao {
    width: auto;
    margin-bottom: 15px;
}

.resultado {
    font-weight: bold;
    margin-top: 10px;
}